/* Content structure */

.panels {
  text-align: center;
  display: table;
  margin: auto;
}

.left-panel {
  float: left;
  display: table-cell;
  margin-right: 10px;
}

.right-panel {
  float: right;
  display: table-cell;
}

.textarea {
  resize: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* Images options */

.categories {
  display: none;
}
.words {
  display: none;
}

.disabled-select {
  pointer-events:none !important;
}

.active-category {
  display: block !important;
  position: relative;
  text-align: center;
  height: 197px;
  width: 300px;
  padding: 10px;
  border: 2px solid #d2d2d2;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
}

.active-category img {
  width: 100%;
}

.category-text {
  bottom: 0;
  color: #f2f2f2;
}
.category-text h1 {
  margin: unset;
  font-size: 30px;
  margin-top: 5px;
  text-align: center;
}

.active-word {
  display: block !important;
  position: relative;
  text-align: center;
  height: 198px;
  width: 300px;
  padding: 10px;
  border: 2px solid #d2d2d2;
  border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
}

@media only screen and (max-width: 965px) {
  .active-category {
    width: 200px;
  }
  .active-word {
    width: 200px;
  }
  .category-text h1 {
    font-size: 20px;
  }
}

/* Block page in mobile resolutions */

@media only screen and (max-width: 850px) {
  .panels {
    display: none;
  }
  .low-res {
    display: block !important;
    color: #d2d2d2;
    margin: unset;
    padding: 0 15px;
  }
}